<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
  <section id="header">
    <div class="container flexbox flexJustify">
      <div id="logo">
        <a href="https://www.televox.com"><img src="https://webtools1.televoxsites.com/west-automated-notifications/includes/images/west_logo.png"></a>
      </div><!-- end logo -->
    </div><!-- end header container -->
  </section><!-- end header -->
  <section class="pageTitle">
    <div class="container">
      <h1><%= title %></h1>
    </div><!-- end pageTitle container -->
  </section><!-- end pageTitle -->

  <div id="content">
    <div class="container">
      <div class="links">
        <a href="view-inquiries">View Inquiries</a>
      </div>
      <div id="tableRow" class="flexbox">
        <div class="widget fullCol">
          <div id="dashInquiries">
            <h2>All Inquiries</h2>
            <div id="accordion">
              <% inquiring.forEach(function(inquired){ %>
                <div class="row flexbox">
                  <div class="cell name"><strong>Name: </strong><br /><%= inquired.name %></div>
                  <div class="cell date"><strong>Date: </strong><br /><%= inquired.date %></div>
                  <div class="cell arrow" data-panel-id="panel1"><i class="fas fa-angle-down"></i></div>
                  <div class="expanded">
                    <div class="cell email"><strong>Email: </strong><br /><a href="mailto:<%= inquired.email %>" target="_blank"><%= inquired.email %></a></div>
                    <div class="cell businessUnit"><strong>Business Unit: </strong><br /><%= inquired.businessUnit %></div>
                    <div class="cell languages"><strong>Language(s) in Question? </strong><br /><%= inquired.languages %></div>
                    <div class="cell pastClient"><strong>Have We Done Work for this Client Before?:</strong><br /><%= inquired.pastClient %> </div>
                    <div class="cell voiceTalent"><strong>Voice Talent?</strong><br /><%= inquired.voiceTalent %></div>
                    <div class="cell use"><strong>How Will Recording(s) be Used?</strong><br /><%= inquired.use %></div>
                    <div class="cell baseElements"><strong>Are Base Elements Needed (dates, times, days, months, etc.)?</strong><br /><%= inquired.baseElements %></div>
                    <div class="cell number"><strong>Total Number of Recordings Needed?</strong><br /><%= inquired.number %></div>
                    <div class="cell description"><strong>Description of Goal and Task:</strong><br /><%= inquired.description %></div>
                  </div><!-- end of expanded --> 
                </div>
              <% }); %>
            </div>
          </div><!-- end of dashEssential -->
        </div>
      </div>
    </div>
  </div>
  <script>
    // when you click the purple arrow beside a task it expands for further info
    $('#accordion .fa-angle-down').click(function() {
      $(this).parent().next('.expanded').slideToggle();
      $("#accordion .fa-angle-down").toggleClass("fa-angle-up");
    });
  </script>
</body>
</html>
